.employee {
    --vertical-slide: -15px;
    --slide-time: 0.2s;

    background-color: var(--light-2);

    &__img {
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
    }
    border: solid 3px var(--light-3);
    width: 10rem;
    border-radius: 20px;
    transition: var(--slide-time);

    &__name {
        font-weight: var(--font-bold);
    }

    &:hover {
        transform: translateY(var(--vertical-slide));
        transition: var(--slide-time);
    }
}