@import "../../shared/styles/mixins";

.home {
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-2);
    border-radius: 15px;
    overflow-y: scroll;
    height: 100vh;
}

@include media-breakpoint-up(md) {
    .home {
        width: 100%;
        max-width: 80rem;
        height: 80vh;    
    }
}