@import "../../shared/styles/mixins";

.home {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--light-2);
    border-radius: 15px;
    overflow-y: scroll;
}

@include media-breakpoint-up(md) {
    .home {
        width: 100%;
        max-width: 80rem;
        height: 80vh;    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}